<li><a href="{{ v.url }}">{{ v.data | visitDates }}</a>
    {%- if v.data.status %} <span class="status">({{ v.data.status | lower }})</span>
    {%- elif v.data | isUpcoming %} <span class="status">(coming up)</span>{% endif %}</li>
